header {
  background-image: url("images/lightbulb-crop.jpg");
  width: 100%;
  height: 240px;
  font-family: courier monospace;
  padding-bottom: 30px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.header-right {
  float: right;
}

.description h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-left: 200px;
  color: white;
}

.description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.main {
  padding: 30px 80px 20px 80px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  background-color: white;
  width: 350px;
  height: 200px;
  line-height: 20px;
  color: black;
  font-weight: normal;
  font-size: 14px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.Button {
  background-color: darkcyan;
  color: white;
}

.titlebox {
  width: 100%;
  height: 50px;
  background-color: darkcyan;
}

.titlebox h4 {
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 10px;
  font-family: courier monospace;
}

.titlebox p {
  text-align: center;
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: courier monospace;
}

.bigbox {
  display: flex;
  padding: 60px 5px 40px;
  width: 100%;
  height: 400px;
  background-color: darkcyan;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box {
  width: 220px;
  height: 350px;
  background-color: darkcyan;
  border: 0.5px solid white;
}

.box:hover {
  border: 2px solid white;
}

.box p {
  font-size: 20px;
  color: white;
  padding: 10px;
  text-align: center;
}

.actors {
  width: 150px;
  height: 160px;
  border-radius: 50%;
  padding: 30px;
}

.content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 380px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.articles {
  width: 450px;
  height: 330px;
  background-color: white;
  padding: 20px;
  color: black;
  border-bottom: 1px solid black;
}

.articles p {
  text-align: center;
}

.description-articles {
  background: white;
  color: black;
  font-family: courier monospace;
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}

.images-content {
  width: 450px;
  height: 130px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: white;
}

.footer p {
  padding-top: 100px;
  padding-left: 50px;
  font-family: courier monospace;
}

.social-media {
  padding-top: 100px;
  text-align: end;
}
/*# sourceMappingURL=style.css.map */